<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= product.title  %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/hamburg.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product-detail.css">
    <link rel="stylesheet" href="/css/navigate.css">
</head>
<body>
    <%-  include ../partial/navigation.ejs %>
        <main class="center">
            <h1>Product Title : <%=  product.title  %></h1>
            <hr>
            <img src="/images/<%= product.imgname %>" alt="">
            <h2>Product Price : $<%= product.price   %></h2>
            <p>Product Description : <%= product.description  %></p>
        </main> 
        <script src="/js/effect.js">
        </script>
</body>
</html>