<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/hamburg.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/product-list.css">
    <link rel="stylesheet" href="/css/navigate.css">
</head>
<body>
    <%-  include ../partial/navigation.ejs %>
    <main>
            <% if(products.length> 0) { %>
              
              <div class="grid">
                    <% for(var i=0 ; i<products.length ; i++) { %>
               <article class="card product-item">
                   <div class="card-image">
                       <img src="images/<%=products[i].imgname%>" alt="myimage">
                   </div>
                   <header class="card-header">
                    <h1 class="product-title"> <%= products[i].title %></h1>
                   </header>
                   <div class="card-content">
                       <h2 class="product-price">
                           $<%= products[i].price  %>
                       </h2>
                       <p class="product-description">
                            <%= products[i].description  %>
                       </p>
                   </div>
                   <div class="card-actions">
                          <a href="/products/detail/<%= products[i]._id  %>" class="detail_link">Detail</a>
                   </div>
               </article>
               <% } %>
           </div>
           <% } else { %>
                <h1 class="center">No Products Found</h1>          
            <%} %>
          </main>
          <script src="/js/effect.js">
          </script>
</body>
</html>